name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  zig-build:
    if: "!startsWith(github.event.head_commit.message, 'docs:')"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: |
          zig build -Doptimize=ReleaseSafe
          ./zig-out/bin/cadence --version
        shell: bash

  nix-build:
    if: "!startsWith(github.event.head_commit.message, 'docs:')"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          nix build
          ./result/bin/cadence --version
